@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
 
}
button{
  background-color: blue!important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  color: white !important;
}
input,textarea{
  /* box-shadow:0 0 3px gray; */
  outline: none !important;
  border: 0.5px solid gray !important;
}
input:focus,textarea:focus{
  outline: none !important;
  box-shadow: none !important;
}
.ant-spin{
  position: absolute !important;
  top: 50% !important;
  left: 50%;
  transition: translate(-50%,-50%);
  z-index: 10;
}
.ant-btn-dashed{
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
  width: 200px !important;
}
