.login1{
    display: flex;
    flex-direction: column;
}
.auth-parent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: cover;
    
}
.auth-parent form{
    width: 400px;
    box-shadow: 0 0 10px gray;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.712);
}

.auth-parent h1{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.auth-parent label{
    color:white
}
.card{
  margin: 0px auto; 
  float: none;
  margin-top: 8%; 
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.card:hover{
    transform: scale(1.2);
}
.infobody{
    /* background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-size: cover;
    height: 100vh;
    }
.cheader{
    font-size: 22px;
    font-weight: bold;
    padding: 2%;
    margin-top: 20px;
}

@media screen and (min-width: 1280px) , screen and (max-width: 1920px) {
   .infobody{  overflow-x: hidden; overflow-y: hidden; }                     
}
.link{
    /* margin-left:  */
    margin-top: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-size: 15px;
    
}