.auth-parent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.auth-parent form{
    width: 400px;
    box-shadow: 0 0 10px gray;
    padding: 20px;
    /* background-color:rgba(6, 53, 33, 0.808); */
    background-color: rgba(0, 0, 0, 0.712);
    /* border-radius: 5%; */
}
.auth-parent h1{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.auth-parent label{
    color:white
}
.container{
  
    align-items: center;
  width: 45%;
  margin-top: 50px;
  
  overflow-y: none;
  text-align: center;
  padding: 20px;
  color: white;
}

.steps h5
{
    color: white;
    text-align: center;
    font-size: 15px;
}
.steps p{
    text-align: left;
}

.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1 !important;
}
.btn{
    size: 10%;
}