.layout{
    height: 100vh;
    padding: 10px 20px;
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    overflow: none;
}
.header{
    height: 10%;
    /* background-color: rgba(11, 95, 60, 0.993); */
    background-color: rgb(66, 64, 64);
    color:white !important;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header h2{
    font-size: 22px;
}
.header button{
    border: 1px solid white !important;
    color: white;
}
.content{
    height: 100%;
    border: 1px solid gray;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    
}
/* .content button{
   margin-left: 50%;
   margin-bottom: 5px;
} */
#q123{
    margin-left: 50%;
    margin-bottom: 5px;
}