/* home page template styling */
.home .template{
margin: 25px;
box-shadow: 0 0 3px gray;
padding: 25px;
position: relative;
}
.home .template .text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    font-size: 22px;
}
.home .template .text:hover{
    background-color: black;
    opacity: 0.8;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .home .template button{
    width: 10%;
    background-color: white;
    color: black;
    border: 1px solid white;
} */
.template-parent{
    color: rgba(56, 53, 53, 0.993) !important;
    padding: 70px;
}
.template-parent h1{
font-size: 35px;
font-weight: bold;
}
.template-parent p{
    padding-top: 0 !important; 
     margin-bottom: 0!important;
    font-size: 16px;
}
.divider{
    width: 100%;
    height: 2px;
    background-color: gray;
}
.template-parent h3{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
    }
    .template-parent label{
        font-size: 15px;
        font-weight: bold;
    }
    .template-parent h6{
        width: 120px;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 21.8px;
        }